@font-face {
    font-family:"mahjong";
    src:url("../fonts/Mahjong.TTF");
}

#hand {
    font-family:"mahjong";
    font-size: 100px;
    text-transform:none;
    color:#00ff80;
    display: flex;
    justify-content: center;
    user-select: none;
}

#hand > span:hover {
    transform: scaleY(1.75) scaleX(1.75);
    transform-origin: bottom;
    margin-left: 30px;
    margin-right: 30px;
}

